@import '../minimum';
.footer {
    background: var(--bs-primary);
    text-align: center;
    color: $white-grey;
    font-weight: 300;
    .footerSocialIcon {
        padding: 0.225rem!important;
        transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .footerSocialIcon:hover {
        cursor: pointer;
        transform: rotateZ(360deg);
    }
    .footerTaglineText {
        max-width: 250px;
    }
    .contactDialog {
        background: darken($color: $primary, $amount: 7);
        border-radius: 15px;
        // transform: translateY(-50%);
        // -webkit-transform: translateY(-50%);
        position: relative;
        top: -50px;
    }
    .startProjectButton {
        padding: .450rem 1rem;
        border: 1px solid $white-grey;
        color: $white-grey;
        background-color: darken($color: $primary, $amount: 7);;
        border-radius: 10px;
        font-size: 1.2rem;
        transition: all .3s;
    }
    .startProjectButton:hover {
        cursor: pointer;
        background: $white-grey;
        color: darken($color: $primary, $amount: 7);;
    }
    .startProject {
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
    }
    @include media-breakpoint-down(sm) {
        .startProject {
            font-size: 1.4rem;
        }
        .startProjectButton {
            font-size: 1rem;
        }
    }
}